include:
  - project: "waldur/waldur-pipelines"
    file: "/templates/stages.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/test/python-linters.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/test/python-tests.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/release/publish-multiarch.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/test/lint-dockerfile.yaml"

variables:
  COMPONENT_VERSION: "latest"

.Run tests template:
  stage: test
  interruptible: true
  rules:
    - if: '$SKIP_TESTS == "true" || $SKIP_TESTS == "yes"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
    - pip install uv
    - uv sync --all-packages
    - source .venv/bin/activate
    - pytest --cov=waldur_cscs_hpc_storage --cov-report=xml --junitxml=report.xml tests/
    - coverage report

Run python v3.11 linters:
  image: "registry.hpc.ut.ee/mirror/library/python:3.11"
  extends: .Run linters template
  before_script:
    - |
      echo 'default_language_version:' >> .pre-commit-config.yaml
      echo '  python: python3.11' >> .pre-commit-config.yaml

Run python v3.12 linters:
  image: "registry.hpc.ut.ee/mirror/library/python:3.12"
  extends: .Run linters template
  before_script:
    - |
      echo 'default_language_version:' >> .pre-commit-config.yaml
      echo '  python: python3.12' >> .pre-commit-config.yaml

Run python v3.11 tests:
  image: "registry.hpc.ut.ee/mirror/library/python:3.11"
  extends: .Run tests template

Run python v3.12 tests:
  image: "registry.hpc.ut.ee/mirror/library/python:3.12"
  extends: .Run tests template

Lint dockerfile:
  extends: .Lint dockerfile template
  variables:
    DOCKERFILE: Dockerfile
    HADOLINT_CONFIG: |
      ignored:
        - DL3018 # "versions for `apk add`" warning
        - DL3008 # "versions for `apt-get install`" warning
        - DL3009 # "Delete apt-get lists" warning (handled in same RUN)

Publish python module tagged release with uv:
  image: ghcr.io/astral-sh/uv:python3.13-alpine
  stage: release
  interruptible: true
  variables:
    UV_PUBLISH_USERNAME: $PYPI_USERNAME
    UV_PUBLISH_PASSWORD: $PYPI_PASSWORD
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - sed -i "s/^version = \".*\"$/version = \"$CI_COMMIT_TAG\"/" pyproject.toml
    - uv build
    - uv publish

Publish multiarch docker image latest:
  stage: release
  interruptible: true
  image: registry.hpc.ut.ee/mirror/docker:latest
  services:
    - name: public.ecr.aws/docker/library/docker:dind
      command: ["--mtu=1400"]
      alias: docker
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  before_script:
    - apk update
    - apk add --no-cache gcc python3-dev musl-dev linux-headers openldap-dev openssl libffi-dev libjpeg-turbo-dev libxml2-dev libxslt-dev
    - echo "$WALDUR_DOCKER_HUB_PASSWORD" | docker login $DOCKER_HUB_REGISTRY --username "$WALDUR_DOCKER_HUB_USER" --password-stdin
  script:
    - docker context create builder
    - docker buildx version
    - docker buildx create builder --use
    - docker buildx build --platform linux/amd64 --build-arg DOCKER_REGISTRY=${DOCKER_REGISTRY} -f Dockerfile -t opennode/waldur-cscs-storage-proxy:latest --push .

Publish multiarch docker image with version:
  stage: release
  interruptible: true
  image: registry.hpc.ut.ee/mirror/docker:latest
  services:
    - name: registry.hpc.ut.ee/mirror/docker:dind
      command: ["--mtu=1400"]
      alias: docker
  rules:
    - if: $CI_COMMIT_TAG
  before_script:
    - apk update
    - apk add --no-cache gcc python3-dev musl-dev linux-headers openldap-dev openssl libffi-dev libjpeg-turbo-dev libxml2-dev libxslt-dev
    - echo "$WALDUR_DOCKER_HUB_PASSWORD" | docker login $DOCKER_HUB_REGISTRY --username "$WALDUR_DOCKER_HUB_USER" --password-stdin
  script:
    - docker context create builder
    - docker buildx version
    - docker buildx create builder --use
    - docker buildx build --platform linux/amd64,linux/arm64 --build-arg DOCKER_REGISTRY=${DOCKER_REGISTRY} -f Dockerfile -t opennode/waldur-cscs-storage-proxy:$CI_COMMIT_TAG --push .
